In [20]:
import pandas as pd
from sklearn.model_selection import train_test_split

df = pd.read_csv('../data/HR_comma_sep.csv')

In [21]:
print(set(df['sales']))
print(set(df['salary']))

{'hr', 'IT', 'management', 'marketing', 'support', 'technical', 'sales', 'product_mng', 'accounting', 'RandD'}
{'high', 'medium', 'low'}

In [22]:
print(df.head)

<bound method NDFrame.head of        satisfaction_level  last_evaluation  number_project  \
0                    0.38             0.53               2
1                    0.80             0.86               5
2                    0.11             0.88               7
3                    0.72             0.87               5
4                    0.37             0.52               2
...                   ...              ...             ...
14994                0.40             0.57               2
14995                0.37             0.48               2
14996                0.37             0.53               2
14997                0.11             0.96               6
14998                0.37             0.52               2

       average_montly_hours  time_spend_company  Work_accident  left  \
0                       157                   3              0     1
1                       262                   6              0     1
2                       272                   4              0     1
3                       223                   5              0     1
4                       159                   3              0     1
...                     ...                 ...            ...   ...
14994                   151                   3              0     1
14995                   160                   3              0     1
14996                   143                   3              0     1
14997                   280                   4              0     1
14998                   158                   3              0     1

       promotion_last_5years    sales  salary
0                          0    sales     low
1                          0    sales  medium
2                          0    sales  medium
3                          0    sales     low
4                          0    sales     low
...                      ...      ...     ...
14994                      0  support     low
14995                      0  support     low
14996                      0  support     low
14997                      0  support     low
14998                      0  support     low

[14999 rows x 10 columns]>

In [23]:
def mapper(num):
    return str(round(num*5))

In [ ]:
#clean the sales and salary columns
df.replace(to_replace ="low", value = 0, inplace = True)
df.replace(to_replace ="medium", value = 1, inplace = True)
df.replace(to_replace ="high", value = 2, inplace = True)

df.replace(to_replace ="RandD", value = 0, inplace = True)
df.replace(to_replace ="hr", value = 1, inplace = True)
df.replace(to_replace ="IT", value = 2, inplace = True)
df.replace(to_replace ="marketing", value = 3, inplace = True)
df.replace(to_replace ="support", value = 4, inplace = True)
df.replace(to_replace ="management", value = 5, inplace = True)
df.replace(to_replace ="technical", value = 6, inplace = True)
df.replace(to_replace ="product_mng", value = 7, inplace = True)
df.replace(to_replace ="sales", value = 8, inplace = True)
df.replace(to_replace ="accounting", value = 9, inplace = True)

#clean the satisfaction column
df['satisfaction_level'] = df['satisfaction_level'].apply(lambda x: mapper(x))
  
df.to_csv('../data/cleaned-file.csv', index = False)

In [ ]:
train, test = train_test_split(df, test_size=0.2)

train.to_csv('../data/train-file.csv', index=False)
test.to_csv('../data/test-file.csv', index=False)